
  @import '../../assets/sass/color.scss';

  #filterTodo{
    /* Dropdown input */
    .dropinput {
      padding: 10px;
      font-size:  1em;
      border: none;
      outline: none;
      cursor: pointer;

      height: 1.0em;
      width: 8.0em;

      border-radius: 0.8em;
      border: none;
    }

    .dropdown-content {
      display: none;
      background-color:  $color-white;
      z-index: 2;
      border-radius: 0.8em;
      margin-top: 5px;
      padding: 0.5em;
      position: absolute;
      width: 8em;
      box-shadow: 0 2px 5px 0 hsl(0deg 4% 50% / 82%);
    }

    /* inside the dropdown */
    .dropdown-content div {
      color: $color-black;
      padding: 10px 16px;
      text-decoration: none;
      display: flex;
      cursor: pointer;
      font-size:  1em;
      height: 1.0em;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content div:hover { 
        background-color: $color-butterfly-bush;
        color: $color-white;
        border-radius: 0.8em;
    }

    /* Show the dropdown menu */
    .show {
      display:block;
    }

    .arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      margin-left: -1.0em;
    }

    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }    



  }
