
  @import '../../assets/sass/color.scss';

.text-decoration{
    text-decoration: line-through;
    color: $color-disable;
}

.bg-todo-components {
  margin-bottom: 1em;
  background-color: #FFFFFF;
  /* width: 100%; */
  display: flex;
  /* justify-content: space-between; */
  height: 1em;
  padding: 10px;
  font-size: 1em;
  border-radius: 0.8em;

  .container-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-top: -0.1rem;

  /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 1em;
      width: 1em;
      background-color: $color-white;
      border: 2px solid $color-backgroud-checkbox-todo-task;
      border-radius: 0.3em;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: $color-backgroud-checkbox-todo-task;
    }

    /* Create the checkmark (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark */
    .checkmark:after {
      left: 6px;
      top: 2px;
      width: 3px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  } 

  .container-input {
    display: block;
    position: relative;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-top: -0.1rem;
    width: 100%;
    input,input:focus {
      border: none;
      outline: none;
      font-size: 1.0em;
      width: 100%;
    }
  } 

  .container-menu {
    display: block;
    position: relative;
    margin-right: 0.5rem;
    margin-top: -0.1rem;
    text-align: right;
    width: 100%;
    cursor: pointer;

    .dot {
      height: 0.3em;
      width: 0.3em;
      background-color: $color-backgroud-menu-hamburger;
      border-radius: 50%;
      display: inline-block;
      margin-right: 0.1em;
      cursor: pointer;
    }

  }

  .container-button{
    // display: block;
    display: none;
    position: relative;
    margin-top: -0.9rem;
    margin-right: -0.8rem;

    .save-btn{
      cursor: pointer;
      background-color: $color-butterfly-bush;
      font-size: 0.9em;
      border-radius: 1em;
      color: #FFFFFF;
      border: none;
      margin: 0.5em;
      padding: 0.4em;
      width: 3.5em;
    }
  }
  .show {
    display:block;
  }

  .dropdown-container-menu {
    cursor: pointer;

    .dropdown-content {
      display:none;
      background-color:  $color-white;
      z-index: 1;
      border-radius: 0.8em;
      margin-top: 5px;
      padding: 0.5em;
      width: auto;
      box-shadow: 0 2px 5px 0 hsl(0deg 4% 50% / 82%);
      position: sticky;
    }
    /* inside the dropdown */
    .dropdown-content div {
      padding: 10px 16px;
      text-decoration: none;
      display: flex;
      cursor: pointer;
      font-size:  1em;
      height: 1.0em;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content div:hover { 
      font-weight: bold;
    }
    /* Show the dropdown menu */
    .show {
      display:block;
    }
  }
  

 

}
