$color-backgroud : #A9A9A9;
$color-body-component : #E5E5E5;

$color-black : #000000;
$color-white : #FFFFFF;

$color-butterfly-bush : #585292;
$color-new-york-pink : #E07C7C;


$color-backgroud-progress-bar :#3B3B3B;
$color-backgroud-progress-bar-percent :#FFFFFF;
$color-backgroud-title-progress-bar:#FFFFFF;
$color-backgroud-subtext-progress-bar:#EBB9B8;


$color-backgroud-todo-task :#FFFFFF;
$color-backgroud-checkbox-todo-task :#585292;
$color-disable : $color-backgroud;
$color-backgroud-menu-hamburger :$color-backgroud;

.w-100{
    width: 100%;
}
.display-flex{
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-right{
    justify-content: right;
}

.color-disable{
    color: $color-disable;
}
  
.color-red{
    color:red !important;
}

