  @import './assets/sass/color.scss';

  .App {
    text-align: center;
    background-color: $color-backgroud;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .App-body {
    background-color: $color-body-component;
    border-radius: 0.8em;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 1em;
  }

  .set-gap-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
  }

  .progress-component{
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 0%;

    border-radius:2.0em;
    background-color: $color-new-york-pink;

    .title-text{
        color: $color-backgroud-title-progress-bar;
        font-size: 1.6em;
        font-weight: bold;
    }
    .sub-text{
        color: $color-backgroud-subtext-progress-bar;
        font-size: 1.0em;
    }
    .progress {
        border-radius: 1.0em;
        height: 7.34px;
        width: 100%;
        background-color: $color-backgroud-progress-bar;
    }

    .progress-bar {
        border-radius: 1.0em;
        height: 7.34px;
        background-color: $color-backgroud-progress-bar-percent;
    }
}

.title-check-component{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 0;
    .title-text{
        margin: 0;
        font-size: 1.6em;
        font-weight: bold;
    }
}

.set-display-row-space-between{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
